{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{%block content %}


        <div class="container">
              <!--Navbar-->
          <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
    
                <!-- Navbar brand -->
                <span class="navbar-brand"> <center>Vous avez été déconnecté avec succes .</center> </span>
        
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                  aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        
                <!-- Collapsible content -->
            
              <br>  
                   
             
                 
              
            </div>               
                
         
        </div>

     
{% endblock content %}