{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{%block content %}


        <div class="container mt-5">
        
              <!--/.Navbar-->
            <div class="container">
              <div class="d-flex justify-content-center">

                          
                        <!-- Default form register -->
            <form class="text-center border border-light p-5" action="#!" method="POST">
              {% csrf_token %}

                  <p class="h4 mb-4">Reinitialiser le mot de pass</p>
              
                          {{ form | crispy }}
              
                  <!-- Sign up button -->
                  <button class="btn btn-info my-4 btn-block" type="submit">Modifier</button>
              
              </form>
           
              </div>
             
            </div>             
            <br>  
                   
             
         
        </div>

     
{% endblock content %}