{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{%block content %}

<br>
<br>

        <div class="container">
           <div class="alert alert-info">
                <div class="d-flex justify-content-center">
                    </div>
                    Votre mot de passe a été modifié avec succes , vous pouvez maintenant vous connecter
                 
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class=" btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'login' %}">Connectez vous Ici </a>

        </div>
     
{% endblock content %}